<a href="https://colab.research.google.com/github/ajinkyajumde/python-basics/blob/main/python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Let's learn about list comprehensions! You are given three integers  and  representing the dimensions of a cuboid along with an integer . Print a list of all possible coordinates given by  on a 3D grid where the sum of  is not equal to . Here, . Please use list comprehensions rather than multiple loops, as a learning exercise.

Example




All permutations of  are:
.

Print an array of the elements that do not sum to .


Input Format

Four integers  and , each on a separate line.

Constraints

Print the list in lexicographic increasing order.

Sample Input 0

1
1
1
2
Sample Output 0

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]
Explanation 0

Each variable  and  will have values of  or . All permutations of lists in the form .
Remove all arrays that sum to  to leave only the valid permutations.

Sample Input 1

2
2
2
2
Sample Output 1

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 2], [0, 2, 1], [0, 2, 2], [1

In [ ]:
if __name__ == '__main__':
    x = int(raw_input())
    y = int(raw_input())
    z = int(raw_input())
    n = int(raw_input())
    l=[]
    m=[]
    j=[]
    for i in range (0,x+1):
        for j in range (0,y+1):
            for k in range (0,z+1):
                l.append(i)
                l.append(j)
                l.append(k)
                
                if sum(l)!=n:
                    m.append(l)
                
                l=[]
print(m)

Given the participants' score sheet for your University Sports Day, you are required to find the runner-up score. You are given  scores. Store them in a list and find the score of the runner-up.

Input Format

The first line contains . The second line contains an array   of  integers each separated by a space.

Constraints

Output Format

Print the runner-up score.

Sample Input 0

5
2 3 6 6 5
Sample Output 0

5

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    arr = map(int, raw_input().split())
    k=[]
    k=sorted(arr)
    j=set(k)
    b=list(j)
    print(b[-2])

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Note: If there are multiple students with the second lowest grade, order their names alphabetically and print each name on a new line.

Example

The ordered list of scores is , so the second lowest score is . There are two students with that score: . Ordered alphabetically, the names are printed as:

alpha
beta
Input Format

The first line contains an integer, , the number of students.
The  subsequent lines describe each student over  lines.
- The first line contains a student's name.
- The second line contains their grade.

Constraints

There will always be one or more students having the second lowest grade.
Output Format

Print the name(s) of any student(s) having the second lowest grade in. If there are multiple students, order their names alphabetically and print each one on a new line.

Sample Input 0

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Sample Output 0

Berry
Harry
Explanation 0

There are  students in this class whose names and grades are assembled to build the following list:

python students = [['Harry', 37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh', 39]]

The lowest grade of  belongs to Tina. The second lowest grade of  belongs to both Harry and Berry, so we order their names alphabetically and print each name on a new line.

Language
Pypy 2

More
56789101112131415161718192021222324251234
if __name__ == '__main__':
    l=[]
    m=[]
    j=[]
    k=[]
    p=[]
    f=[]
    for _ in range(int(raw_input())):
        name = raw_input()
        score = float(raw_input())
â€¦    c=j[1]
    for z in m:
        if z[1]==c:
            p.append(z[0])
        else:
            pass
    f=sorted(p)
    for v in f:
        print(v)
Line: 29 Col: 17

Submit Code

Run Code

Upload Code as File

Test against custom input
Congratulations!

You have passed the sample test cases. Click the submit button to run your code against all the test cases.


Sample Test case 0
Input (stdin)

Download
5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Your Output (stdout)
Berry
Harry
Expected Output

Download
Berry
Harry

In [ ]:
if __name__ == '__main__':
    l=[]
    m=[]
    j=[]
    k=[]
    p=[]
    f=[]
    for _ in range(int(raw_input())):
        name = raw_input()
        score = float(raw_input())
        l.append(name)
        l.append(score)
        m.append(l)
        l=[]
    for i in m:
        
            
       j.append(float(i[1]))
    b=set(j)  
    r=list(b)  
    k=sorted(b)
    c=float(k[1])
    for z in m:
        if z[1]==c:
            p.append(z[0])
        else:
            pass
    f=sorted(p)
    for v in f:
        print(v)

The provided code stub will read in a dictionary containing key/value pairs of name:[marks] for a list of students. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

Example




The query_name is 'beta'. beta's average score is .

Input Format

The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

Constraints

Output Format

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

Sample Input 0

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
Sample Output 0

56.00
Explanation 0

Marks for Malika are  whose average is 

Sample Input 1

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh
Sample Output 1

26.50

In [ ]:
if __name__ == '__main__':
    n = int(raw_input())
    student_marks = {}
    j=[]
    a=[]
    for _ in range(n):
        line = raw_input().split()
        j.append(line)
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_marks[name] = scores
        
    query_name = raw_input()
    
    for m in j:
        
        if m[0]==query_name:
            
            for i in range(1,4):
               a.append(float(m[i]))
               b=sum(a)/3
        else:
            pass
                
    print(format(b,'.2f'))